*{
    margin: 0%;
    padding: 0%;
}
.navbar{
    background-color: white;
    padding: 1rem 2rem;
    border-bottom:1px solid gray;
}
.navbar img {
    width: 120px;
  }
.navbar h1{
    color: whitesmoke;

  }